@import "reset";

$color-pink: #e22db5;
$color-blue: #7db9e8;

@import "typography";
@import "mixins";

body {
  min-width: 320px;
}

.header {
  position: absolute;
  color: white;
  z-index: 1;
  width: 100%;
  padding-top: 1.8rem;

  &__logo {
    text-align: center;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 8.4rem;
    letter-spacing: -0.4rem;

    a {
      color: #fff;
      text-decoration: none;
      position: relative;

      &::after, &::before {
        position: absolute;
        left: 0;
        content: 'SDC';
      }

      &::after {
        color: rgba( $color-pink, 0.2 );
        left: 0.8rem;
      }
      &::before {
        color: rgba( $color-blue, 0.2 );
        left: -0.8rem;
      }
    }
  }
}

.hero {
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  position: relative;
  text-align: center;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.5);

  .gradient {
    width: 100%;
    height: 300px;
    background-color: #e22db5; // Old browsers
    @include linear-gradient($color-pink, $color-blue);
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
  }

  // .scanlines {
  //   position: absolute;
  //   width: 100%;
  //   height: 300px;
  //   @include scanlines(#FFF, 1px, 0deg, 0.3);
  // }

  img {
    width: 100%;
    height: 300px;
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
  }

  figcaption {
    left: 50%;
    position: absolute;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  h1 {
    font-size: 1.2rem;

    a {
      @include textGlitch("example-one", 17, white, black, red, blue, 450, 115);
      text-transform: uppercase;
    }
  }

  p {
    font-size: 28px;
    font-weight: 300;
    margin-top: 0.5em;
  }
}

.content {
  p {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  a {
    color: $color-blue;
    text-decoration: none;
    padding: 2px;
  }

  h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  &__pull-quote {
    float: right;
    width: 200px;
    /* background: url(images/openquote.gif) top left no-repeat; */
    color: #030;
    font-size: 26px;
    line-height: 0.9;
    font-style: italic;
    padding: 13px;

    blockquote { margin: 0; }

    /* p:first-letter { font-size: 1.8rem; } */
  }
}

.footer {
  width: 100%;
  height: 200px;
  background: #eee;

  &__contents {
    margin: 0 auto;
    max-width: 780px;
    padding: 1rem 1.0875rem 1.45rem;

    font-family: Arial, sans;

    a {
      text-decoration: none;
      color: $color-pink;
    }
  }

  &__social {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
